.header-lists{
  position: relative;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

.lists-right {
  margin-left: auto; 
  display: flex;
  align-items: flex-end;
  list-style: none;
  width: 215px; 
}

.lists{
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  list-style: none;
  width: 198px;
}

.user-nickname {
  margin: 2px 7px;
  padding: 2px 7px;
  text-decoration: none;
  color: rgb(244, 244, 242);
  font-weight: bold;
  font-size: 20px
}

.post {

  position:relative; 
  font-family : Arial,'HiraMinProN-W6',sans-serif;
  margin: 2px 7px;
  padding: 2px 7px;
  text-decoration: none;
  color:rgb(5, 17, 68);
  border-radius:30px;
  border: 3px solid#08080827;
  font-size: 16px
  
}

.logout {
  font-family : Arial,'HiraMinProN-W6',sans-serif;
  margin: 2px 7px;
  padding: 2px 7px;
  text-decoration: none;
  
  color:rgb(5, 17, 68);
  border-radius:30px;
  border: 3px solid#08080827;
  font-size: 16px
}

.login {
  font-family : Arial,'HiraMinProN-W6',sans-serif;
  text-decoration: none;
  line-height: 23px;
  margin: 2px 7px;
  padding: 2px 7px;
  background-color:  #fafeff;
  color:rgb(5, 17, 68);
  border-radius:30px;
  border: 3px solid#08080827;
  font-size: 16px
}

.sign-up {
  font-family : Arial,'HiraMinProN-W6',sans-serif;
  margin: 2px 7px;
  padding: 2px 7px;
  line-height: 23px;
  text-decoration: none;
  background-color: #fafeff;
  color:rgb(5, 17, 68);
  border-radius:30px;
  border: 3px solid#08080827;
  font-size: 16px
}

.text{
  display: flex;
  justify-content: center;
  position: relative; 
  text-decoration: none;
  font-family: cursive;
  font-size: 50px;
  
}
.actions{
  width: 79px;
  margin-left:auto;
  margin-right:auto;
}

#user_nickname,#user_name,input,#user_email,#user_password {
  width: 240px;
  height: 30px;
}

.login-red-btn{
  cursor:  linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
  font-size: 15px;
  border: 2px solid#08080826;
  cursor:pointer;
  display: flex;
  justify-content: center;
  border-radius:30px;
  text-decoration: none;
  line-height: 32px;
  margin:15px auto 0 auto;
  width: 73px;
}
.header-image{
 margin: 5px 5px;   
 border: 2px 2px;
 padding: 2px 2px;
}

.footer-ls{display: flex;
  justify-content: center;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}