.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.back-btn {
  width: 54px;
  padding: 0 6px;
  margin-right:14px;
  text-decoration: none;
  cursor:  linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  border-radius:30px;
  border: 3px solid#08080826;
  font-size: 17px
}
.select-box {
  width: 271px;
  height: 30px;
}

.recipes-text{
  width: 240px;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}
.s-text {
  height: 250px;
  width: 240px;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.click-upload {
  margin-right: auto;
  margin-left: auto;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

.sell-btn {
  width: 86px;
  border-radius:30px;
  border: 3px solid#08080826;
  font-size: 17px;
  cursor:pointer;
}
.sell-btn-contents {
  margin-top: 25px;
  width: 243px;
  display: flex;
  justify-content: center;
}

.f-wrap {
  width: 50%;
  background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
  padding-bottom: 70px;
  font-family : Arial,'HiraMinProN-W6',sans-serif ;
}
.f-main {
  width: 276px;
  margin-right: auto;
  margin-left: auto;
}
#recipe-image{
  width: 291px;
}

.registration-main{
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
