.detail-table{
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 760px;
  white-space:pre-wrap
  
}

.recipe-img{
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: center; 
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 20px;
  text-align: center;
  font-family : Arial,'HiraMinProN-W6',sans-serif ;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 19px;
  font-family : Arial,'HiraMinProN-W6',sans-serif ;
}

.recipe-box-img{
  margin-top: 30px;
  margin-bottom: 30px;
}

.recipe-btn{
  display: flex;
  justify-content: center; 
  margin-bottom: 30px;
  font-size: 19px
}

.recipe-destroy,.recipe-red-btn{
  padding: 4px 6px;
  margin-right:14px;
  text-decoration: none;
  background-color:  #57C3E9;
  color:rgb(244, 244, 242);
  border-radius:30px;
  border: 3px solid#08080826;
  font-family : Arial,'HiraMinProN-W6',sans-serif ;
}